* {
    main-bg:            #120D23E6;
    main-fg:            #D8CCFF;
    main-br:            #1EABD8;
    main-ex:            #18193C;
    select-bg:          #AAC9F0;
    select-fg:          #293B52;
}
