* {
    main-bg:            #03011DE6;
    main-fg:            #D0CCFF;
    main-br:            #18A8E7;
    main-ex:            #161A73;
    select-bg:          #ECAAF0;
    select-fg:          #502952;
}
