* {
    main-bg:            #280D3DE6;
    main-fg:            #E9CCFF;
    main-br:            #7D46AF;
    main-ex:            #461F5E;
    select-bg:          #F0AABD;
    select-fg:          #522934;
}
