* {
    main-bg:            #13161FE6;
    main-fg:            #CCD9FF;
    main-br:            #CF5859;
    main-ex:            #764352;
    select-bg:          #F0E6AA;
    select-fg:          #524C29;
}
