* {
    main-bg:            #101319E6;
    main-fg:            #CCDDFF;
    main-br:            #947B67;
    main-ex:            #19635A;
    select-bg:          #CDF0AA;
    select-fg:          #3D5229;
}
