* {
    main-bg:            #060606E6;
    main-fg:            #FCFCFC;
    main-br:            #4B4B4B;
    main-ex:            #262626;
    select-bg:          #D6D6D6;
    select-fg:          #1A1A1A;
}
